html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Verdana", sans-serif;
}

html {
  font-size: 18px;
  color: gray;
}

.main {
  width: 1400px;
  margin: auto;
  border-left: solid silver 1px;
  border-right: solid silver 1px;
  border-bottom: solid silver 1px;
}



/*Header*/


header {
 display: flex;
 align-items: center;
 width: 100%;
 height: 64px;
}

.logo {
 display: flex;
 align-items: center;
 flex-grow: 1;
 height: 32px;
 margin-left: 24px;
}

.logo img {
 height: 2.8rem;
}

.logo span {
 font-size: 1.4rem;
}

.nav {
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 24px;
font-size: 1.1rem;
}

.box {
 height: 64px;
 width: 16px;
}

.color {
 background-color: silver;
}

.truncated-menu {
display: none;
}

.colmar {
 font-weight: bold;
 color: dimgray;
}

.academy {
 color: silver;
}


@media only screen and (max-width: 480px)  {

.logo {
 display: none;
}

.logo span {
 display: none;
}
.nav {
 display: none;
}

.truncated-menu {
 display: flex;
 justify-content: space-around;
 width: 100%;
}

.truncated-menu img {
 height: 1.8rem;

}

}


/*Banner Section*/


.banner {
  width: 1400px;
  height: 675px;
  background-color: #660000;
}

.bannerimage {
  background-image: url("../images/banner.jpg");
  width: 740px;
  height: 675px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 24px;
  margin-right: 24px;
}

.text {
display: inline-block;
position: relative;
width: 24rem;
top: 175px;
left: 750px;
word-break: break-all;
color: white;
margin-left: 40px;

}

.text h1 {
font-size: 2.5rem;
word-break: break-all;
font-weight: bold;
margin-top: 10px;

}

.text p {
font-size: 1.6rem;

}

.start {
  height: 55px;
  width: 200px;
  background-color: dimgray;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 35px;

}


@media only screen and (max-width: 480px)  {

  .main {
    width: 100%;

  }
  .banner {
    width: 100%;
    height: 590px;
    margin-bottom: 24px;
}

  .bannerimage {
  background-image: url("../images/banner.jpg");
  height: 300px;
  width: 100%;
  margin: auto;
  background-size: cover;
  }

  .text {
  position: static;
  margin-top: 315px;
  margin-left: 24px;
  margin-right: 24px;
  width: 350px;
}

.text h1 {
font-size: 2rem;
}

.text p {
font-size: 1.2rem;
}

.start {
  width: 175px;
  height: 50px;
}

}


@media only screen and (max-width: 375px)

{

  .text {
  margin-top: 325px;
  width: 315px;
  }

  .text h1 {
  font-size: 1.7rem;
  }

  .text p {
  font-size: 1.1rem;
  }

}


@media only screen and (max-width: 360px) {


  .text {
  margin-top: 315px;
  width: 300px;
  }

  .text h1 {
  font-size: 1.6rem;
  }

  .text p {
  font-size: 1.1rem;
  }

}


@media only screen and (max-width: 320px) {


  .text {
  margin-top: 330px;
  width: 275px;
  }

  .text h1 {
  font-size: 1.5rem;
  }

  .text p {
  font-size: 1rem;
  }

  .start {
    width: 165px;
    height: 40px;
    font-size: 1rem;
  }

}


/* About Section*/

.about {
display: flex;
width: 1400px;
height: 675px;
margin: auto;
}

.column .left {
  flex: 60%;
}

.column .right {
  flex: 40%;
}

.left img {
width: 740px;
background-repeat: no-repeat;
background-position: center;
margin: 32px 32px;
}

.left-text {
  width: 720px;
  margin-left: 24px;
}

.left-text h1 {
  font-size: 2rem;
  color: dimgray;
  font-weight: bold;
}

.left-text p {
  margin-top: 24px;
  margin-bottom: 32px;
}

.row {
 display: flex;
 flex-direction: row;
 width: 595px;
 height: 225px;
 border: solid silver 1px;
}

.row img {
  width: 225px;
  height: 225px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 28px;
}

.background {
  background-color: silver;
}

.right-text {
display: flex;
flex-direction: column;
margin-top: 65px;
width: 425px;
height: 175px;
}

.about-mobile {
  display: none;
}

.right-text h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color:dimgray;
}

.right-text h3 {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.right-text span {
  color: blue;
  margin-bottom: 20px;
}

.border {
  background-color: silver;
}

.background {
  background-color: silver;
}

@media only screen and (max-width: 480px)  {

.about {
  display: none;
}

.about-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 325px;
}

.about-mobile img {
 width: 375px;
 height: 200px;
}

.about-mobile .right-text {
 margin-left: 80px;
 margin-right: 16px;
 margin-top: 16px;
}


.right-text h2 {
  font-size: 1.3rem;
}

.right-text h3 {
  font-size: .9rem;
}

  }

  @media only screen and (max-width: 375px) {

    .about-mobile {
      height: 300px;
    }

    .about-mobile img {
     width: 350px;
     height: 180px;
    }
    .about-mobile .right-text {
     width: 300px;
     margin-right: 115px;
    }

  }

  @media only screen and (max-width: 360px) {


    .about-mobile {
      height: 290px;
    }

    .about-mobile img {
     width: 330px;
     height: 165px;
    }

}



  /*Courses Section*/

  .courses {
    height: 1100px;
    width: 1400px;
    margin: auto;
    margin-top: 82px;
    text-align: center;
    background-color: #660000;
  }

  .courses h1 {
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

 .subjects {
  height: 400px;
  width: 400px;
  margin-bottom: 32px;
}

  .item {
    height: 200px;
    width: 375px;
    margin-right: 25px;
    margin-bottom: -3px;
  }

.subject-text {
  text-align: left;
  height: 200px;
  width: 375px;
  background-color: white;
  font-family: Arial;
}

.subjects h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: dimgray;
  margin-left: 16px;
}

.subjects h3 {
  margin-left: 16px;
  padding-bottom: 20px;
  font-size: 1.2rem;
  color: gray;

}

.subjects p {
  margin-left: 16px;
  font-size: 1.1rem;
  color: gray;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px)  {


.courses {
  display: none;
}

.mobile {
  display: flex;
  flex-direction: column;
  height: 675px;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  border: solid silver 1px;
  background-color: #660000;
}

.mobile h1 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 32px;
  padding-bottom: 32px;
  color: white;
  text-align: center;
}

.mobile h2 {
    height: 75px;
    margin-bottom: 15px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: silver;
    padding: 15px;
    font-size: 1.3rem;
    color: black;
    padding-top: 25px;
  }



}

@media only screen and (max-width: 320px) {

  .about-mobile {
    height: 275px;
  }

  .about-mobile img {
   width: 300px;
   height: 145px;
  }


  .right-text h2 {
    font-size: 1.1rem;
    margin-left: 20px;
  }

  .right-text h3 {
    font-size: .8rem;
    margin-left: 20px;
  }

.right-text span {
  font-size: .8rem;
  margin-left: 20px;
  }

}



/*Thesis Section*/

  .thesis {
  display: flex;
  width: 1400px;
  height: 600px;
  margin: auto;
  }

  .column .left {
    flex: 60%;

  }

  .column .right {
    flex: 40%;
  }


  .left-text {
    width: 720px;
    margin-left: 24px;
  }


  .thesis-text h1 {
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
    color: dimgray;
    text-align: center;
  }

video {
  object-fit: contain;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
}



@media only screen and (max-width: 480px)  {


  .thesis {
  height: 250px;
  width: 100%;
  }

.thesis-text h1 {
  font-size: 2rem;
  padding-top: 32px;
  padding-bottom: 16px;
}

.thesis .left-text {
  display: none;
}

.thesis .row {
  display: none;
}


video {
  height: 250px;
  width: 100%;
  object-fit: contain;
  margin: auto;

}

}

/* Footer*/

  footer {
    margin-top: 32px;
    border-top: solid silver 1px;
    padding: 1.5rem 2rem;
    background-color: #660000;
    color: white;
  }

footer .content {
  display: flex;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (max-width: 480px)  {

footer {
  width: 100%;
}

footer .terms {
  display: none;
}

footer .copyright {
  font-size: .8rem;
  margin-top: 0px;
}

footer {
  margin-bottom: 20px;
}

}
